In [1]:
#importig and reading csv
import pandas as pd
df = pd.read_csv("desktop/UCI_Credit_Card.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [2]:
# using dummies
dummies1 = pd.get_dummies(df['EDUCATION'])
dummies2 = pd.get_dummies(df['MARRIAGE'])

In [3]:
merged = pd.concat([df,dummies1,dummies2], axis='columns')
merged

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,1,2,3,4,5,6,0,1,2,3
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0,1,0,0,0,0,0,1,0,0
1,2,120000.0,2,2,2,26,-1,2,0,0,...,0,1,0,0,0,0,0,0,1,0
2,3,90000.0,2,2,2,34,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,0,0,1,0,0,0,0,0,1,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,0,1,0,0,0,0,0,0,1,0
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,0,0,1,0,0,0,0,1,0,0
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [4]:
final = merged.drop(['EDUCATION','MARRIAGE','ID'], axis = 'columns')
final

,LIMIT_BAL,SEX,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,...,1,2,3,4,5,6,0,1,2,3
0,20000.0,2,24,2,2,-1,-1,-2,-2,3913.0,...,0,1,0,0,0,0,0,1,0,0
1,120000.0,2,26,-1,2,0,0,0,2,2682.0,...,0,1,0,0,0,0,0,0,1,0
2,90000.0,2,34,0,0,0,0,0,0,29239.0,...,0,1,0,0,0,0,0,0,1,0
3,50000.0,2,37,0,0,0,0,0,0,46990.0,...,0,1,0,0,0,0,0,1,0,0
4,50000.0,1,57,-1,0,-1,0,0,0,8617.0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,39,0,0,0,0,0,0,188948.0,...,0,0,1,0,0,0,0,1,0,0
29996,150000.0,1,43,-1,-1,-1,-1,0,0,1683.0,...,0,0,1,0,0,0,0,0,1,0
29997,30000.0,1,37,4,3,2,-1,0,0,3565.0,...,0,1,0,0,0,0,0,0,1,0
29998,80000.0,1,41,1,-1,0,0,0,-1,-1645.0,...,0,0,1,0,0,0,0,1,0,0
29999,50000.0,1,46,0,0,0,0,0,0,47929.0,...,0,1,0,0,0,0,0,1,0,0

In [5]:
x = final.drop('default.payment.next.month',axis = 'columns')
x

,LIMIT_BAL,SEX,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,...,1,2,3,4,5,6,0,1,2,3
0,20000.0,2,24,2,2,-1,-1,-2,-2,3913.0,...,0,1,0,0,0,0,0,1,0,0
1,120000.0,2,26,-1,2,0,0,0,2,2682.0,...,0,1,0,0,0,0,0,0,1,0
2,90000.0,2,34,0,0,0,0,0,0,29239.0,...,0,1,0,0,0,0,0,0,1,0
3,50000.0,2,37,0,0,0,0,0,0,46990.0,...,0,1,0,0,0,0,0,1,0,0
4,50000.0,1,57,-1,0,-1,0,0,0,8617.0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,39,0,0,0,0,0,0,188948.0,...,0,0,1,0,0,0,0,1,0,0
29996,150000.0,1,43,-1,-1,-1,-1,0,0,1683.0,...,0,0,1,0,0,0,0,0,1,0
29997,30000.0,1,37,4,3,2,-1,0,0,3565.0,...,0,1,0,0,0,0,0,0,1,0
29998,80000.0,1,41,1,-1,0,0,0,-1,-1645.0,...,0,0,1,0,0,0,0,1,0,0
29999,50000.0,1,46,0,0,0,0,0,0,47929.0,...,0,1,0,0,0,0,0,1,0,0

In [6]:
y = final['default.payment.next.month']
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default.payment.next.month, Length: 30000, dtype: int64

In [7]:
# calling regression and making an object
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [8]:
# training the model
model.fit(x,y)

LinearRegression()

In [9]:
#sample data

new = x.sample(500, random_state = 100)
new

,LIMIT_BAL,SEX,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,...,1,2,3,4,5,6,0,1,2,3
6102,50000.0,1,38,0,0,0,0,0,0,25809.0,...,0,1,0,0,0,0,0,1,0,0
2539,20000.0,1,49,-1,-1,-1,-1,-2,-2,1044.0,...,1,0,0,0,0,0,0,1,0,0
21576,20000.0,2,21,0,0,0,0,0,0,10109.0,...,0,1,0,0,0,0,0,0,1,0
19574,190000.0,2,43,0,0,0,0,0,0,93359.0,...,0,0,1,0,0,0,0,1,0,0
12804,500000.0,2,34,-2,-2,-2,-2,-2,-2,19656.0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24076,250000.0,1,27,-1,-1,-1,-1,-1,0,73.0,...,1,0,0,0,0,0,0,0,1,0
28796,30000.0,2,37,-1,-1,-1,-1,-1,-1,264.0,...,1,0,0,0,0,0,0,0,1,0
23253,180000.0,2,39,-1,-1,-1,-1,-1,-1,671.0,...,0,1,0,0,0,0,0,0,1,0
5542,280000.0,1,30,2,2,2,2,2,0,110550.0,...,0,1,0,0,0,0,0,0,1,0
4588,50000.0,1,43,2,0,0,0,0,0,30106.0,...,0,1,0,0,0,0,0,1,0,0

In [10]:
# prediction
model.predict(new)

array([ 0.27632755,  0.17940108,  0.22391168,  0.2276203 , -0.10700379,
        0.12436217,  0.12332924,  0.2506866 , -0.01559625,  0.38032745,
        0.09033394,  0.52741326, -0.12830567,  0.22510997,  0.4086034 ,
        0.22848182,  0.27795025,  0.35341022,  0.24299229,  0.40961393,
        0.32386301,  0.18643005,  0.10781514,  0.12812804,  0.28848254,
        0.12279069,  0.41685241,  0.02261534,  0.24881183, -0.0226624 ,
        0.19251179,  0.21280103, -0.00606162, -0.04780704,  0.25554894,
        0.30095112,  0.37116553,  0.14493299,  0.26898597,  0.17224067,
        0.43487062,  0.23761878,  0.20206608,  0.38552424,  0.49981427,
        0.20967007,  0.2553078 ,  0.24416743,  0.20790837,  0.24618251,
        0.37092345,  0.26730098,  0.26734506,  0.08691718,  0.25139703,
        0.06488717,  0.16033009,  0.23187203,  0.31375043,  0.25632286,
        0.28938806,  0.19026908,  0.21136013,  0.35819188,  0.13232696,
        0.45971921,  0.27231234,  0.05295184,  0.14956689,  0.34326001,
        0.10139191,  0.12023511,  0.01221747,  0.11127225,  0.11043187,
        0.28518447,  0.1241976 ,  0.24882208,  0.1101367 ,  0.19927136,
        0.42690687,  0.09424693, -0.268826  ,  0.2828681 ,  0.08010058,
        0.45435079,  0.28951937,  0.29319609,  0.10973488,  0.09312392,
        0.15073761,  0.20725375,  0.22414939,  0.22458798,  0.12502419,
        0.24938023,  0.13607233,  0.30364218,  0.22982273,  0.2619572 ,
        0.00217375,  0.28130435,  0.21873578,  0.28712034,  0.23980611,
        0.25705305, -0.10867797,  0.31624993,  0.23981135,  0.62901092,
        0.14116699,  0.14449013,  0.52385416,  0.29930973,  0.29328904,
        0.51642223,  0.16740232,  0.24237031,  0.26452631,  0.27172074,
        0.27079618,  0.23424503,  0.2860199 ,  0.17638372,  0.08921989,
        0.4611609 ,  0.23383742,  0.28286708,  0.17527411,  0.10948184,
        0.46753026,  0.18347328,  0.50711487,  0.27236545, -0.01909256,
        0.10365356,  0.0245935 ,  0.23019142, -0.01488998,  0.23554412,
        0.22669816,  0.24105383,  0.21730561,  0.18192184,  0.4287657 ,
        0.11023706,  0.26406234,  0.23339686,  0.3447508 ,  0.39855134,
        0.14767877,  0.43650741,  0.12608685,  0.08875144,  0.3328129 ,
        0.26736865, -0.05048878,  0.21846431,  0.00866331,  0.20146765,
       -0.01151736,  0.18514658, -0.03884669, -0.02111378,  0.2563874 ,
        0.22033212,  0.16806457,  0.22638245,  0.44111474,  0.24989038,
       -0.04589957,  0.13879103,  0.2202478 ,  0.27707423,  0.08603487,
        0.02174282,  0.21195908,  0.17698728,  0.29973863,  0.1018303 ,
       -0.17440656,  0.27459321,  0.31947577,  0.19110907,  0.12330141,
       -0.00960011,  0.25578912,  0.21510164,  0.41875179,  0.70881307,
        0.16166219,  0.09407023, -0.00698681,  0.14520687,  0.20901699,
        0.12952743,  0.39926685,  0.11476306, -0.03904298,  0.11555022,
       -0.00439022,  0.04247309,  0.07140293,  0.28008327,  0.20900407,
        0.22103206,  0.23786253,  0.26867526,  0.21876884,  0.33810972,
        0.22683355, -0.04597881,  0.24618533,  0.26508469, -0.01512175,
        0.39454595,  0.15059276,  0.20516788,  0.25307496,  0.16391866,
        0.11030875,  0.21949938,  0.17176162,  0.22712015,  0.45562791,
        0.22525006,  0.2814597 ,  0.23007745,  0.13571887,  0.21212899,
        0.06119111,  0.4460857 ,  0.22799096,  0.25341896,  0.09458772,
        0.14521837,  0.13855457,  0.0158811 ,  0.41614707, -0.15489911,
        0.26698387,  0.62951371,  0.24938842,  0.19415633,  0.23607481,
        0.47050199,  0.21544007,  0.27976921,  0.1741002 ,  0.46703394,
        0.10025718,  0.40999798,  0.12950045, -0.06604348,  0.43049378,
        0.65297373, -0.03470884,  0.72823581,  0.19425247,  0.22887059,
       -0.03140635,  0.35846823,  0.16099804,  0.30451781,  0.12011354,
        0.07295077,  0.24936624,  0.35857299,  0.25170265,  0.24003756,
        0.24571037,  0.4346793 ,  0.37493834, -0.04475583,  0.25436363,
        0.47844465,  0.17257944,  0.08650722,  0.23124793,  0.50255072,
        0.09523286,  0.26714344,  0.20605672,  0.22318778,  0.15494395,
        0.44611802,  0.32939883,  0.52273545,  0.02869132,  0.31933555,
        0.25291372,  0.19680204,  0.18871546,  0.28245808,  0.08365426,
        0.25785083,  0.11749631,  0.06135841,  0.26038542, -0.01055734,
        0.32574774,  0.21358581,  0.00738932,  0.64885774,  0.14040602,
        0.07143349,  0.30714522,  0.21575163,  0.10796029,  0.16663947,
        0.23989908,  0.18770712,  0.67913484,  0.08587744,  0.25362465,
        0.30316968,  0.26962178,  0.11239826,  0.07895288,  0.24949501,
        0.71986425,  0.2394672 , -0.05103139,  0.0653113 ,  0.23466097,
        0.2119073 ,  0.14339584,  0.50342528,  0.26356928, -0.04658276,
        0.28313783,  0.04531026,  0.32167704,  0.29327745,  0.26407022,
        0.36089509,  0.16850625,  0.25958348, -0.03083783,  0.24333936,
        0.2051025 ,  0.19831707,  0.15963577,  0.25776701,  0.18252891,
        0.16029403,  0.11554891,  0.301057  ,  0.2340125 ,  0.21336113,
        0.5814192 ,  0.12529738,  0.08139284,  0.52342639,  0.21436836,
        0.10327552,  0.24186428,  0.1797241 ,  0.19188689,  0.27103715,
        0.2696008 ,  0.22388273,  0.24099464,  0.23497561,  0.2474624 ,
        0.53833797, -0.02030403,  0.0565028 ,  0.1512114 ,  0.26428737,
        0.20220977,  0.11509652,  0.25023962,  0.21066438,  0.17398968,
        0.00719108,  0.14322406,  0.29861302,  0.17008486,  0.37690237,
        0.1494584 ,  0.2341484 ,  0.10639687,  0.14875008,  0.71741468,
        0.08998233,  0.22917815,  0.23733024,  0.23987807,  0.11490316,
        0.25363726, -0.01437597,  0.11334855, -0.05020301, -0.01701026,
        0.25221563,  0.40289012, -0.01672239,  0.19188844,  0.20107597,
       -0.01566889,  0.19055288, -0.12651458,  0.01452682,  0.12609963,
        0.08744343,  0.41796633,  0.13135025,  0.29724573,  0.31487722,
        0.22674632,  0.2001417 ,  0.40424909,  0.1360665 ,  0.41153769,
        0.21345917,  0.25220164,  0.2802211 ,  0.09828998,  0.37999203,
        0.36539303, -0.0471652 ,  0.08626236,  0.288212  , -0.03428075,
        0.2194221 , -0.02636309,  0.22286825,  0.39515665, -0.01809182,
        0.28988423,  0.2239605 ,  0.303321  ,  0.26676783,  0.21374534,
        0.24931805,  0.02365786,  0.51645255,  0.51708321,  0.07126228,
        0.12612183,  0.11897877,  0.26608505,  0.24445919,  0.12472794,
        0.17652776,  0.5158418 ,  0.13300188, -0.02297337,  0.2690647 ,
        0.15882266,  0.27378481,  0.50567486,  0.10145026,  0.29144532,
       -0.00293391,  0.25622545, -0.03063668,  0.64557862,  0.12452313,
        0.42424781,  0.2754547 ,  0.41374277, -0.01788195,  0.2473675 ,
        0.55698344,  0.09840967,  0.37923453,  0.48545512,  0.42401765,
        0.28011688,  0.11672268,  0.19822543,  0.09869855,  0.20951152,
        0.10783211,  0.28171835,  0.00974928,  0.2882244 , -0.02804947,
        0.46636769,  0.13780092,  0.08579033, -0.12669619, -0.01622313,
        0.34631378,  0.18625518,  0.14236891,  0.2574481 ,  0.29169989,
        0.45335843,  0.49178046,  0.14042917,  0.21562943,  0.60934001,
        0.10982816,  0.1288849 ,  0.10401317,  0.45522902,  0.47713069])

In [11]:
model.score(x,y)

0.1249939123375855